<h1>写真表示</h1>
<%= @posts %>
<div class="container .bg-primary">
  <img src="..." class="rounded float-left" alt="...">
  <img src="..." class="rounded float-right" alt="...">
</div>
<div class="p-3 mb-2 bg-primary text-white">.bg-primary</div>

<%= link_to "新規投稿", new_post_path, class: 'btn btn-primary' %>
