<footer class="footer">
  <small>
    製作者:<a href="https://twitter.com/akira03777565?lang=ja">Twitterアカウト</a>
  </small>
  <% if user_signed_in? %>
  <nav>
    <ul>
      <li><%= link_to "投稿する", new_post_path %></li>
    </ul>
  </nav>
  <% else %>
  <% end %>
</footer>
