<footer class="footer">
  <small>
    The <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  </small>
  <% if user_signed_in? %>
  <nav>
    <ul>
      <li><%= link_to "投稿する", new_post_path %></li>
      <li><a href="http://news.railstutorial.org/" class = "mr-5" >News</a></li>
    </ul>
  </nav>
  <% else %>
  <% end %>
</footer>
